.indexrecipes,
.indextitle, 
.indexlogo,
.recipetitle,
.recipelogo {
    text-align: center;
    list-style-position:inside;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.indexrecipes {
    font-size: 22px;
}

.indextitle,
.recipetitle {
    font-size: 29px;
}